/* BEGIN CUSTOM STYLING HERE */
body {
  background-color: #FFFDE7;
}
.container-fluid {
  background-color: #E0E0E0;
  padding: 0px;
}
.row {
  margin: 0px;
}

/*NAVIGATION*/
.nav {
  background-color: #673AB7;
  height: 60px;
}
.zenbook > h1 {
  color: #f5f5f5;
  font-size: 24px;
  margin: 17px 0px;
}
.note-compose {
  border: none;
  background-color: transparent;
  padding: 3px 6px;
  margin: 11px 0px;
}

/*NOTES*/
.note-wrap {
  background-color: white;
  margin-top: 10px;
}
.note-text {
  padding: 5px;
  font-size: 16px;
  margin: 13px 0px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}
.note-submit {
  margin: 17.5px 0px;
  border: none;
  background-color: transparent;
}
.note-submit > img {
  height: 18px;
}
.note-time {
  margin: 0px;
}
.note-priority {
  margin: 0px;
}
.priority {
  color: #424242;
  padding: 0px;
}
.np {
  border: none;
  background-color: transparent;
  padding: 10px 0px;
}
.np-high {
  background-color: #F44336;
}
.np-high:hover {
  background-color: #D32F2F;
  color: #eee;
}
.np-med {
  background-color: #FFEB3B;
}
.np-med:hover {
  background-color: #FBC02D;
  color: white;
}
.np-low {
  background-color: #4CAF50;
}
.np-low:hover {
  background-color: #388E3C;
  color: #f5f5f5;
}
