/* BEGIN CUSTOM STYLING HERE */
body {
  background-color: #EDE7F6;
}
.container {
  background-color: #E9EAED;
}
h1, h2 {
  font-size: 24px;
}

/*NAVIGATION*/
.nav {
  background-color: #673AB7;
  height: 60px;
}

/*NOTES*/
.note-wrap {
  background-color: white;
  margin: 10px -15px 10px -15px;
}
.note {
  height: 90px;
}
.note-text {
  padding: 10px;
  font-size: 15px;
  margin-bottom: 0px;
  height: 80px;
  max-height: 80px;
}
.note-delete {
  margin: 5px 10px;
}
.note-time {
  margin: 0px;
  border-bottom: 3px solid #ccc;
}
.note-priority {
  margin: 0px;
}
.note-priority > .col-sm-4 {
  padding: 10px 0px 5px 0px;
}
.note-high {
  background-color: #F44336;
}
.note-med {
  background-color: #FFEB3B;
}
.note-low {
  background-color: #4CAF50;
}
