/* BEGIN CUSTOM STYLING HERE */
body {
  background-color: #311B92;
}
.container {
  background-color: #E9EAED;
}
h1, h2 {
  font-size: 24px;
}

/*NAVIGATION*/
.nav {
  background-color: white;
  height: 60px;
}

/*NOTES*/
.note-wrap {
  background-color: white;
  margin: 10px -15px 10px -15px;
}
.note {
  height: 90px;
}
.note-text {
  padding: 10px;
}
